:root {
    /* Colors */

        /* Surface Colors */
        --background-color: #573824;
        --surface-color: #F0E8C2;

        /* Text colors */
        --text-color-primary: #291B1A;
        --text-color-secondary: #573A37;
        --text-color-on-bg: #F0E8C2;

    /* Typography */
        --font-family-alice: "Alice", serif;

        /* Headings */
        --heading-1: 400 2.5em/140% var(--font-family-alice);
        --heading-2: 400 1.5em/150% var(--font-family-alice);
        --paragraph: 400 1em/150% var(--font-family-alice);

    /* Images */
        --background-image: url(../images/main_image.png);
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.bg-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    z-index: -1;

    background: linear-gradient(rgba(41, 27, 26, 0.7), rgba(41, 27, 26, 0.7)), var(--background-image);
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    transform: scale(1.1);
}

#recipe{
    margin-block-start: 30px;
}

.recipe__layout{
    width: 90%;
    max-width: 800px;
    height: max-content;

    margin-inline: auto;
    padding: 24px;

    border-radius: 16px;

    background-color: var(--surface-color);
}

.image-container > img{
    width: 100%;
    height: 400px;

    margin-block-end: 24px;

    border-radius: 16px;

    object-fit: cover;
}

.recipe-content{
    display: flex;
    
    flex-direction: column;
    gap: 24px;

    padding: 0px 24px 24px 24px;

    & h1 {
        font: var(--heading-1);
        color: var(--text-color-primary);

        margin-block-end: 4px;
    }
}

.recipe__status {
    display: flex;
    flex-direction: column;
    
    gap: 12px;
    
    & p {
        font: var(--paragraph);
        color: var(--text-color-secondary);
    }

    & div{
        display: flex;
        flex-direction: column;

        font: var(--paragraph);
        color: var(--text-color-secondary);
    }
}

.recipe__steps{
    display: flex;
    flex-direction: column;

    gap: 4px;

    & h2 {
        font: var(--heading-2);
        color: var(--text-color-primary);
    }

    & ul {
        font: var(--paragraph);
        color: var(--text-color-secondary);

        
        list-style: disc; 
        list-style-position: inside;
    }
}

.recipe__prepare{
    display: flex;
    flex-direction: column;
    
    gap: 4px;

    & h2 {
        font: var(--heading-2);
        color: var(--text-color-primary);
    }

    & ol {
        display: flex;
        flex-direction: column;

        gap: 12px;

        font: var(--paragraph);
        color: var(--text-color-secondary);

        list-style: decimal;
        list-style-position: inside;
    }
}

.greetings{
    display: flex;
    justify-content: center;

    gap: 4px;

    padding: 30px;

    & span {
        color: var(--text-color-on-bg);
    }
}